head
  link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
div.app
  div.search-bar
    p Wikipedia Search Application
    input(type="text" id="searchTerm")
    a(id="search" target="_blank" class="btn btn-primary") Submit
    a(href="https://en.wikipedia.org/wiki/Special:Random" target="_blank" class="btn btn-primary") Random Article
  div.content-bars